<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>992419438996-rquputo6cqch50luddhi4l53aif2n25q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.992419438996-rquputo6cqch50luddhi4l53aif2n25q</string>
	<key>API_KEY</key>
	<string>AIzaSyD8OHdooBsrrtQ0pf22EAbMU-IJ_207LI4</string>
	<key>GCM_SENDER_ID</key>
	<string>992419438996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ardx.forumapps</string>
	<key>PROJECT_ID</key>
	<string>forumapps-65597</string>
	<key>STORAGE_BUCKET</key>
	<string>forumapps-65597.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992419438996:ios:4dce87fe52a64cbd4caf81</string>
</dict>
</plist>